<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.zywx.wbpalmstar.plugin.ueximage"
          android:installLocation="internalOnly"
          android:versionCode="300"
          android:versionName="3.0" >


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />
    <uses-sdk android:minSdkVersion="15" />
    <application
        android:name="org.zywx.wbpalmstar.widgetone.WidgetOneApplication"
        android:icon="@drawable/icon"
        android:vmSafeMode="true" >
        <activity
            android:name="org.zywx.wbpalmstar.engine.LoadingActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/browser_loading_theme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AlbumListActivity"
            android:theme="@style/plugin_uex_image_appTheme" >
        </activity>
        <activity
            android:name=".PictureGridActivity"
            android:theme="@style/plugin_uex_image_appTheme" >
        </activity>
        <activity
            android:name=".ImagePreviewActivity"
            android:theme="@style/plugin_uex_image_appTheme" >
        </activity>
        <activity android:name=".crop.CropImageActivity"/>
    </application>

</manifest>
