<?xml version="1.0" encoding="utf-8"?>
<manifest>

    <activity
        android:name=".AlbumListActivity"
        android:theme="@style/plugin_uex_image_appTheme" >
    </activity>
    <activity
        android:name=".PictureGridActivity"
        android:theme="@style/plugin_uex_image_appTheme" >
    </activity>
    <activity
        android:name=".ImagePreviewActivity"
        android:theme="@style/plugin_uex_image_appTheme" >
    </activity>
</manifest>