<?xml version="1.0" encoding="utf8"?>
    <manifest>
    <activity
        android:name="org.zywx.wbpalmstar.plugin.ueximage.crop.CropImageActivity"
        android:exported="false"
        />
    <activity
        android:name="org.zywx.wbpalmstar.plugin.ueximage.deletebrowser.PreviewDetailActivity"
        android:theme="@style/plugin_uex_image_appTheme"
        android:exported="false"/>
    </manifest>